[submodule "external/FPGA-RMII-SMII"]
	path = external/FPGA-RMII-SMII
	url = https://github.com/WangXuan95/FPGA-RMII-SMII.git
[submodule "external/neorv32"]
	path = external/neorv32
	url = https://github.com/gtaharaedmonds/neorv32.git
[submodule "external/digilent-xdc"]
	path = external/digilent-xdc
	url = https://github.com/Digilent/digilent-xdc.git
